
.aside{
    display: flex;
    flex-direction: column;
}

.section2{
    margin-bottom: 12px;
}
.home-bottom{
    padding: 0 120px;
    margin-top: 15px;
}
.home-bottom{
    width: 70%;
    border: 1px solid #e4e5ee;
    border-radius: 7px;
}