.multy-item{
    padding: 12px;
    margin: 0 5px;
    border-radius: 12px;
    position: relative;
    max-width: 150px;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: #e87491ba;
}
.multy-item svg{
   font-size: 17px;
   cursor: pointer;
}